! special
*.foreground:   #f3ebe4
*.background:   #332235
*.cursorColor:  #f3ebe4

! black
*.color0:       #332235
*.color8:       #f3ebe4

! red
*.color1:       #eaab98
*.color9:       #eaab98

! green
*.color2:       #ea98ae
*.color10:      #ea98ae

! yellow
*.color3:       #ac9ccb
*.color11:      #ac9ccb

! blue
*.color4:       #e2b5c8
*.color12:      #e2b5c8

! magenta
*.color5:       #b5dce2
*.color13:      #b5dce2

! cyan
*.color6:       #e6d6d6
*.color14:      #e6d6d6

! white
*.color7:       #ea9898
*.color15:      #ea9898

!! Custom xcursor theme
Xcursor.theme:		Bibata-Ice

!! URxvt stuff

URxvt.background:	#332235
URxvt.foreground:	#f3ebe4
URxvt.cursorColor:	#f3ebe4
URxvt.scrollBar:	false
URxvt.savelines:	12000
URxvt.internalBorder:	15

! URxvt fonts

URxvt.font:		xft:Hack:style=Regular:pixelsize=15
URxvt.boldFont:		xft:Hack:style=Bold:pixelsize=15

! URxvt extensions

URxvt.perl-ext-common:	default,matcher,fullscreen,url-select,resize-font
URxvt.url-launcher:	/usr/bin/icecat
URxvt.matcher.button:	1
URxvt.url-select.launcher:	/usr/bin/firefox
URxvt.url-select.underline:	true
URxvt.keysym.M-u:	perl:url-select:select next
URxvt.keysym.F11:	perl:fullscreen:switch

!! Rofi config

rofi.run-command:	fish -c '{cmd}'
rofi.run-list-command:	'fish -c functions'

